{% extends "base.html" %}
{% block title %}Stock Data - My Website{% endblock %}
{% block content %}
<div class="container">
    <div class="mt-3">
        <div id="line_chart">  {{ chart|safe }}</div>
    </div>
    <h1 class="mt-5">Stock Data</h1>
    <tr>
        <td colspan="7"></td> <!-- colspan to span across all columns except the last one -->
        <td>
            <a href="{% url 'task:create_stock_data' %}" class="btn btn-success btn-sm">Create New Data</a>
        </td>
    </tr>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Date</th>
                <th>Trade Code</th>
                <th>High</th>
                <th>Low</th>
                <th>Open</th>
                <th>Close</th>
                <th>Volume</th>
                <th>Actions</th>  <!-- New column for actions -->
            </tr>
        </thead>
        <tbody>
            {% for data in page.object_list %}
            <tr>
                <td>{{ data.date }}</td>
                <td>{{ data.trade_code }}</td>
                <td>{{ data.high }}</td>
                <td>{{ data.low }}</td>
                <td>{{ data.open }}</td>
                <td>{{ data.close }}</td>
                <td>{{ data.volume }}</td>
                <td>
                    <a href="{% url 'task:edit_stock_data' data.pk %}" class="btn btn-primary btn-sm">Edit</a>
                    <form action="{% url 'task:delete_stock_data' data.pk %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if page.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-3">
            {% if page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo; First</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                </a>
            </li>
            {% endif %}
            {% for num in page.paginator.page_range %}
                {% if num == page.number %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > page.number|add:"-3" and num < page.number|add:"3" %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">Last &raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>


{% endblock %}
